@import url('../colors.css');

.card {
  width: 250px;
  height: 400px;
  position: relative;
  cursor: grab;
  background-color: black;
  border: 1px solid var(--background-extra-dark);
  border-radius: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.card:not(.flipped) {
  padding-left: 7px;
  padding-bottom: 10px;
  padding-top: 7px;
  padding-right: 10px;
}

.card.flipped {
  background-color: transparent;
  border: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
  background: linear-gradient(45deg, var(--primary-color-front-card), var(--purple-front-card));
  ;
}

.card-back {
  transform: rotateY(180deg);
  color: var(--text-color-primary);
  cursor: pointer;
  background-color: black;
}

.card-back hr {
  border: none;
  height: 2px;
  background-color: var(--primary-color);
  margin: 8px 0;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.correct-position {
  border: 2px solid var(--correct-position-glare);
}

.false-position {
  border: 2px solid var(--false-position-glare);
}

.event-name {
  margin: 13px;
  font-size: 20px;
  word-break: break-word;
}

.event-hint {
  font-size: 16px;
}

.card-content {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 10px var(--black-extra-transparent);
}

.card-content hr {
  margin: 0;
  padding: 0;
  background-color: var(--background-light);
}

.card-image {
  filter: brightness(85%) contrast(120%) saturate(130%) sepia(10%);
  width: 100%;
  height: 40%;
  object-fit: cover;
  flex-shrink: 0;
}

.card-name-back {
  height: 21%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(12px, 1.8vw, 18px);
  font-weight: bold;
  color: var(--text-color-primary);
  padding: 3px 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.card-date {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(10px, 1.6vw, 16px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-details {
  height: 31%;
  background: var(--purple-dark);
  padding: 2px;
  font-size: clamp(10px, 1.4vw, 14px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.flash {
  animation: flashBorder 1s ease-in-out;
}

@keyframes flashBorder {
  from {
    box-shadow: 0 0 10px 5px var(--flash-correct);
    transform: scale(1.01);
  }
  to {
    box-shadow: none;
    transform: scale(1);
  }
}

.card-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
  line-height:0em;
  font-size: 2em;
  font-weight:bolder;
  color: var(--white-color);
  background-color: var(--white-color);
  box-shadow: 0 2px 5px rgb(255, 255, 255, 0.2);
  z-index: 1
}

.card-badge.correct {
  background-color: var(--primary-light-version);
}

.card-badge.incorrect {
  background-color: var(--false-position);
}

