@import url('../colors.css');

.card {
  width: 250px;
  height: 400px;
  position: relative;
  cursor: grab;
  background-color: var(--background-dark);
  border: 1px solid var(--background-extra-dark);
  border-radius: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.card:not(.flipped) {
  padding-left: 7px;
  padding-bottom: 10px;
  padding-top: 7px;
  padding-right: 10px;
}

.card.flipped {
  background-color: transparent;
  border: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  background-color: var(--background-dark);
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  color: var(--text-color-primary);
}

.card-back hr {
  border: none;
  height: 2px;
  background-color: var(--primary-color);
  margin: 8px 0;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.correct-position {
  border: 1px solid var(--correct-position);
}

.false-position {
  border: 1px solid var(--false-position);
}

.event-name {
  margin: 13px;
  font-size: 20px;
  word-break: break-word;
}

.event-hint {
  font-size: 16px;
}

.card-content {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 10px var(--black-extra-transparent);
}

.card-content hr {
  margin: 0;
  padding: 0;
  background-color: var(--background-light);
}

.card-image {
  filter: brightness(85%) contrast(120%) saturate(130%) sepia(10%);  
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.card-name-back {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-primary);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-date {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-extra-info {
  height: 5%;
  padding: 10px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  font-weight: 100;
}

.flash {
  animation: flashBorder 1s ease-in-out;
}

@keyframes flashBorder {
  from {
    box-shadow: 0 0 10px 5px var(--flash-correct);
    transform: scale(1.01);
  }
  to {
    box-shadow: none;
    transform: scale(1);
  }
}
