@import url('../themes/theme-dark.css');
@import url('../themes/theme-bright.css');

/* Main geometry structure elements */
.game-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  max-width: 99vw;
  height:  fit-content;
  min-height: 580px;
  background-color: var(--test-color-1);
  margin: 0px
}

.game-board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: clamp(-30px, 2vw, 15px);
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--test-color-6);
}

.submit-container {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

.submit-btn {
  font-size: 18px;
  background: linear-gradient(90deg, var(--secondary-color), var(--purple-primary));
  color: var(--text-color-dark-button);
  cursor: pointer;
  box-shadow: 0px 4px 6px var(--black-extra-transparent);
  transition: transform 0.2s, box-shadow 0.2s;
  font-weight: bold;
  padding: 12px 24px;
  z-index: 2;
}

.play-again-wrapper {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.play-again-btn {
  font-size: 18px;
  background: linear-gradient(90deg, var(--secondary-color), var(--purple-primary) );
  color: var(--text-color-dark-button);
  cursor: pointer;
  box-shadow: 0px 4px 6px var(--black-extra-transparent);
  transition: transform 0.2s, box-shadow 0.2s;
  font-weight: bold;
  padding: 12px 24px;
  z-index: 2;

}

.play-again-btn:hover {
  overflow: visible;
  transform: scale(1.1);
  box-shadow: 0px 6px 10px var(--black-extra-transparent);
}

.instruction-message {
  font-size: 16px;
  color: var(--text-instruction-message);
  margin: 0px;
  margin-top: -20px;
  opacity: 0;
}

.instruction-message.clickable {
  animation: pulse 1.5s infinite;
  transition: animation 0.3s;
}

.final-message-wrapper h3 {
  margin-top: 8px;
}

/* Responsive Adjustments */

/* Compact Mobile Portrait */
/* @media screen and (min-width: 360px) and (max-width: 400px) and (orientation: portrait) {} */
@media screen and (device-width: 375px) and (device-height: 667px) and (orientation: portrait), /* iPhone 8 */
       screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait), /* iPhone 11 Pro */
       screen and (device-width: 360px) and (device-height: 780px) and (orientation: portrait), /* iPhone 13 mini */
       screen and (device-width: 393px) and (device-height: 851px) and (orientation: portrait), /* Pixel 5 */
       screen and (device-width: 360px) and (device-height: 760px) and (orientation: portrait), /* Galaxy S10e */
       screen and (device-width: 393px) and (device-height: 830px) and (orientation: portrait), /* Pixel 4 */
       screen and (device-width: 360px) and (device-height: 780px) and (orientation: portrait)  /* iPhone 12 mini */ {
/*   .game-board {
    flex-direction: column;
    gap: -120px !important
  }
  .game-board-container {
    height:  41rem;
    background-color: brown;
    gap: 0px
  }
  .submit-container {
    position: absolute;
    bottom: 0px;
  }
  .instruction-message {
    margin-bottom: 0px;
  } */
  .game-board {
    flex-direction: column;
    gap: clamp(-30px, 2vw, 5px);
  }
  .game-board-container {
    height: 35rem;
  }
  .reorder-instruction h3 {
    margin: 10px;
    font-size: 0.7rem;
    font-weight: 400;
  }
  .final-message-wrapper h3 {
    margin-top: 8px;
    font-size: 0.9rem
  }
  .instruction-message {
    font-size: 0.8rem;
    opacity: 0;
    margin-top: 0px;
    position: absolute;
    top: 15px;
    color: var(--text-color-primary);
  }
  .remaining-attempts {
    margin-top: -20px;
    margin-bottom: -8px;
    color: var(--text-color-secondary);
    opacity: 0.9;
  }
  .final-message-wrapper {
    display: none;
  }
}

/* Mobile (Taller) Portrait */
@media 
       /*screen and (device-width: 448px) and (device-height: 998px) and (orientation: portrait)  Pixel 8 Pro */ 
       screen and (min-width: 384px) and (max-width: 480px) and (min-height: 668px) and (orientation: portrait)
       {
  .game-board {
    flex-direction: column;
    gap: clamp(-30px, 2vw, 5px);
  }
  .game-board-container {
    height:  45rem;
  }
  .reorder-instruction h3 {
    margin: 10px;
    font-size: 0.7rem;
    font-weight: 400;
  }
  .remaining-attempts {
    margin-top: -20px;
    margin-bottom: -8px;
    color: var(--text-color-secondary);
    opacity: 0.9;
  }
  .instruction-message {
    font-size: 0.8rem;
    opacity: 0;
    margin-top: 15px;
    position: absolute;
    top: 0px;
    color: var(--text-color-primary);
  }
  .final-message-wrapper {
    display: none;
  }
  .game-board.submitted-mark {
    margin: 8px;
    overflow: visible;
  }
  .modal-event img {
    padding-left: 2px;
  }
}


/* Mobile Landscape */
@media screen and (min-width: 481px) and (max-width: 950px) and (max-height: 500px) and (orientation: landscape) {
  .game-board {
    flex-direction: row;
  }
}

/* iPad / Tablet Portrait */
@media screen and (device-width: 744px) and (device-height: 1133px) and (orientation: portrait), /* iPad Mini */
       screen and (device-width: 820px) and (device-height: 1180px) and (orientation: portrait), /* iPad Air 11" */
       screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait), /* iPad Air 13" */
       screen and (device-width: 1032px) and (device-height: 1376px) and (orientation: portrait), /* iPad Pro 13" */
       screen and (device-width: 834px) and (device-height: 1194px) and (orientation: portrait), /* iPad Pro 11" */
       screen and (device-width: 800px) and (device-height: 1280px) and (orientation: portrait), /* Pixel Tablet, Fire HD 10 */
       screen and (device-width: 533px) and (device-height: 893px) and (orientation: portrait), /* Lenovo Tab M9 */
       screen and (device-width: 533px) and (device-height: 853px) and (orientation: portrait), /* Fire HD 8 */
       screen and (device-width: 1067px) and (device-height: 1707px) and (orientation: portrait), /* Galaxy Tab S7 / S8 */
       screen and (device-width: 1102px) and (device-height: 1866px) and (orientation: portrait), /* Galaxy Tab S8+ */
       screen and (device-width: 960px) and (device-height: 1440px) and (orientation: portrait)  /* Surface Pro 9 */ {
  .game-board {
    flex-direction: column;
    min-height: 820px;
    gap: clamp(-12px, 2vw, 18px);
  }
}

/* iPad / Tablet Landscape */
@media screen and (device-width: 1133px) and (device-height: 744px) and (orientation: landscape), /* iPad Mini */
       screen and (device-width: 1180px) and (device-height: 820px) and (orientation: landscape), /* iPad Air 11" */
       screen and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape), /* iPad Air 13" */
       screen and (device-width: 1376px) and (device-height: 1032px) and (orientation: landscape), /* iPad Pro 13" */
       screen and (device-width: 1194px) and (device-height: 834px) and (orientation: landscape), /* iPad Pro 11" */
       screen and (device-width: 1280px) and (device-height: 800px) and (orientation: landscape), /* Pixel Tablet, Fire HD 10 */
       screen and (device-width: 893px) and (device-height: 533px) and (orientation: landscape), /* Lenovo Tab M9 */
       screen and (device-width: 853px) and (device-height: 533px) and (orientation: landscape), /* Fire HD 8 */
       screen and (device-width: 1707px) and (device-height: 1067px) and (orientation: landscape), /* Galaxy Tab S7 / S8 */
       screen and (device-width: 1866px) and (device-height: 1102px) and (orientation: landscape), /* Galaxy Tab S8+ */
       screen and (device-width: 1440px) and (device-height: 960px) and (orientation: landscape)  /* Surface Pro 9 */ {
  .game-board {
    flex-direction: row;
  }
}



/* Rest UI */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  padding: .5em;
  max-width: 600px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 8px 16px var(--black-transparent);
  animation: fadeIn 0.3s ease-out;
  z-index: 1001;
  filter: drop-shadow(0px 0px 10px var(--purple-shadow));
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open .modal-feedback {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.ReactModal__Overlay--before-close .modal-feedback {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal-feedback.success {
  background: var(--modal-feedback-success);
}

.modal-feedback.failure {
  background: var(--modal-feedback-failure);
}

.modal-feedback.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-feedback.hide {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

.modal-feedback-content {
  width: 100%;
  height: auto;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: none;
  text-align:center;
  padding-bottom: 1rem;
  color: var(--text-color-primary)
}

.modal-event {
  color: var(--text-color-primary);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-dark);
  padding: 0.5em;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
}

.modal-event h2{
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: -10px
}

.modal-event-subtitle{
  line-height: 1.3;
}

.modal-event-content {
  width: 99.5%;
  height: auto;
  background-color: none;
  padding-bottom: 1rem;
  border: 1.8px solid transparent;
  border-radius: 8px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 10px var(--black-extra-transparent);
  text-align: center;
  z-index: 1001;

  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -m+s-overflow-style: none; /* Internet Explorer/Edge */
}

.modal-event-content a {
  position: relative;
  z-index: 100;
}

.modal-event-content a:hover {
  color: var(--purple-logo);
}

.modal-event-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Fade effect at the bottom to indicate more content */
.modal-event-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, var(--background-dark), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 10;
  border-radius: 8px;
}

.modal-event-content::before {
  content: "";
  position: absolute;
  top:0.6em;
  left: 0.6em;
  right: 0.5em;
  bottom: 0.5em;  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: transparent;
  z-index: 20;
  pointer-events: none
}
.modal-event-content-up {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.modal-event-content-down {
  margin:10px;
  text-align:justify;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.close-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-left: -10px;
}
.close-btn {
  padding: 8px 16px;
  background: linear-gradient(90deg, var(--secondary-color), var(--purple-primary));
  color: var(--text-color-dark-button);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}
.close-btn:hover {
  background-color: var(--secondary-color);
}

.modal-event :is(.close-btn-container) {
  margin-top: -15px;
}

.modal-event img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.info-icon-feedback {
  margin-left: 8px;
  cursor: pointer;
}

.score-tooltip {
  position: absolute;
  background: var(--background-extra-dark);
  color: var(--text-color-primary);
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0px 2px 10px var(--black-extra-transparent);
  max-width: 250px;
  z-index: 1;
  border-radius: 8px;
  border: 1px solid var(--primary-extra-light-version)
}

.loading-spinner {
  width: auto;
  height: 35rem;
  aspect-ratio: 1 / 1;
  opacity: var(--loading-spinner-opacity);
  mix-blend-mode: var(--loading-spinner-mix-blend-mode);
  /* opacity: 0.1;
  mix-blend-mode: multiply; */
  /* opacity: 0.05;
  mix-blend-mode: color-dodge; */
  background-image: url('/favicon-512x512-spinning.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

/* mix-blend-mode: overlay; */
/* mix-blend-mode: soft-light; */
  animation: spin 2s linear infinite;
  z-index: 1;
}


@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}




.close-icon {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0px;
  font-size: 38px;
  color: var(--primary-color);
  cursor: pointer;
  z-index: 1100;
  padding: 0px 2.5px 3.5px 3.5px;
  line-height: 0.6;
  background: inherit;
  border-radius: 50%;
  transition: color 0.2s ease;
}

.close-icon:hover {
  color: var(--primary-light-version);
}

@keyframes pulse {
  0% { opacity: 0.75; }
  50% { opacity: 0.25; }
  100% { opacity: 0.75; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


