@import url('../colors.css');

.game-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -20px;
}

.game-board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: clamp(-30px, 2vw, 15px);
  margin-top: -20px;
  padding: 20px;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  max-width: min(90vw, 1600px);
}

.submit-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.play-again-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.2;
}

.submit-btn {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  color: var(--text-color-primary);
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 4px 6px var(--black-extra-transparent);
  transition: transform 0.2s, box-shadow 0.2s;
  font-weight: bold;
  padding: 12px 24px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4);
  padding: .5em;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 8px 16px var(--black-transparent);
  animation: fadeIn 0.3s ease-out;
  z-index: 1001;
  filter: drop-shadow(0px 0px 10px var(--purple-shadow));
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal-feedback {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.ReactModal__Overlay--after-open .modal-feedback {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.ReactModal__Overlay--before-close .modal-feedback {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal-feedback.success {
  background: var(--modal-feedback-success);
}

.modal-feedback.failure {
  background: var(--modal-feedback-failure);
}

.modal-feedback.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-feedback.hide {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

.modal-feedback-content {
  width: 100%;
  height: auto;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: none;
  text-align:center;
  padding-bottom: 1rem;
}

.modal-event {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-dark);
  padding: 0.5em;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
}

.modal-event h2{
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: -10px
}

.modal-event p{
  line-height: 1.3;
  /* margin-top: -10px */
}

.modal-event-content {
  width: 99.5%;
  height: auto;
  background-color: none;
  text-align:center;
  padding-bottom: 1rem;
  border: 1.8px solid transparent;
  border-radius: 8px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 10px var(--black-extra-transparent);
  z-index: 1001;
  text-align: center;
  z-index: 1001;


  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -m+s-overflow-style: none; /* Internet Explorer/Edge */
}

.modal-event-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Fade effect at the bottom to indicate more content */
.modal-event-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, var(--background-dark), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 10;
  border-radius: 8px;
}
.modal-event-content::before {
  content: "";
  position: absolute;
  top:0.6em;
  left: 0.6em;
  right: 0.5em;
  bottom: 0.5em;  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: transparent;
  z-index: 20;
}

.modal-event-content-up {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.modal-event-content-down {
  margin:10px;
  text-align:justify;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-indent: 2em;
}

.close-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-left: -10px;
}

.close-btn {
  padding: 8px 16px;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  color: var(--text-color-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.close-btn:hover {
  background-color: var(--secondary-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.modal-event :is(.close-btn-container) {
  margin-top: -15px;
}

.modal-event img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin: ;
}

.info-icon-feedback {
  margin-left: 8px;
  cursor: pointer;
}

.score-tooltip {
  position: absolute;
  background: var(--background-extra-dark);
  color: var(--text-color-primary);
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0px 2px 10px var(--black-extra-transparent);
  max-width: 250px;
  z-index: 1;
  border-radius: 8px;
  border: 1px solid var(--primary-extra-light-version)
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--white-extra-transparent);
  border-top-color: var(--white-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.indicators-buttons-box {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%;
}

.difficulty-indicator {
  position: absolute;
  left: 10px;
  color: var(--primary-light-version);
  font-weight: bold;
  background: var(--black-extra-transparent);
  padding: 6px 12px;
  border-radius: 8px;
  cursor: default;
}

.hint-container {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 2;
}

.hint-container button {
  right: 10px;
  font-weight: bold;
  background: var(--black-extra-transparent);
  color: var(--text-color-primary);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.hint-container button:hover {
  transform: scale(1.05);
  background: var(--background-extra-dark);
}

.hint-container button[disabled] {
  opacity: 0.2;
  color: var(--text-color-primary);
  border-color: var(--used-grayed-out);
  cursor: not-allowed;
  transform: none;
  background: var(--black-extra-transparent);
}

.hint-tooltip {
  position: absolute;
  margin-top: 10px;
  left: -65%;
  background-color: var(--background-extra-dark);
  color: var(--text-color-primary);
  padding: 4px;
  font-size: 14px;
  z-index: 3;
  border-radius: 8px;
  border: 1px solid var(--primary-extra-light-version);
  text-wrap-mode: wrap;
  background-color: var(--primary-light-version);
}

.info-icon-hint {
  cursor: pointer;
  margin-top: 0.2em;
  margin-left: -0.4em;
  position: absolute;
  z-index: 5;
  cursor: default;
  opacity: 0.3;
}

.info-icon-hint.hide {
  color: var(--used-extra-grayed-out);
}

.penalty-notice {
  font-style: italic;
  color: var(--text-color-primary);
}

.play-again-btn {
  padding: 12px 24px;
  border: none;
  background: linear-gradient(90deg, var(--secondary-color), var(--purple-primary) );
  color: var(--text-color-primary);
  box-shadow: 0px 4px 6px var(--black-extra-transparent);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 2;
}

.submit-btn {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  color: var(--text-color-primary);
  cursor: pointer;
  box-shadow: 0px 4px 6px var(--black-extra-transparent);
  transition: transform 0.2s, box-shadow 0.2s;
  font-weight: bold;
  padding: 12px 24px;
  z-index: 2;
}

.play-again-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px var(--black-extra-transparent);
}

/* Responsive Adjustments */

@media (max-width: 600px) {
  .game-board {
    transform: scale(110%);
    padding-top: 80px;
    padding-bottom: 100px;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
  }
  .modal-feedback, .modal-event {
    width: 90%;
    max-width: 400px;
    padding: 10px;
  }
  .submit-btn {
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    bottom: 40px;
  }
  .flipped-cards-mark :is(.game-board) {
    transform: scale(100%);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .flipped-cards-mark :is(.submit-btn) {
    bottom: 40px;
  }
  .flipped-cards-mark :is(.play-again-btn) {
    bottom: 52px;
  }
  .flipped-cards-mark :is(.remaining-attempts) {
    margin-top: 18px;
  }
  .submitted-mark.not-flipped-cards-mark :is(.remaining-attempts) {
    margin-top: -30px;
  }
  .game-board.submitted-mark.not-flipped-cards-mark {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .game-board.submitted-mark {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .flipped-cards-mark :is(.game-board.submitted-mark) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .difficulty-indicator {
    transform: rotate(-90deg);
    white-space: nowrap;
    display: inline-block;
    margin-top: 12rem;
    margin-left: -3.5rem;
  }
  .hint-container {
    transform: rotate(90deg);
    white-space: nowrap;
    display: inline-block;
    margin-top: 10rem;
    margin-right: -2.5rem;
  }
  .hint-tooltip {
    transform: rotate(-90deg);
    position: absolute;
    bottom: -130px;
    width: 200%;
    height: 360%;
    margin-left: 130px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .game-board {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
  }
  .modal-feedback, .modal-event {
    max-width: 500px;
  }
  .flipped-cards-mark :is(.game-board) {
    transform: scale(90%);
    padding-top: 0px;
    padding-bottom: 10px;   
  }
  .flipped-cards-mark :is(.play-again-btn) {
    margin-top: -20px;
  }
  .flipped-cards-mark :is(.game-board) {
    padding-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .game-board.submitted-mark.feedback-closed.not-flipped-cards-mark {
    padding-left: 10px;
    padding-bottom: 50px;
  }
  .game-board.submitted-mark.feedback-open.not-flipped-cards-mark {
    padding-bottom: 50px;
  }
  .flipped-cards-mark :is(.game-board) {
    padding-left: 54px;
    padding-bottom: 0px;
  }
}

@media (min-width: 1025px) {
  .game-board {
    max-width: 1800px;
  }
}

@media (min-width: 1600px) {
  .game-board {
    max-width: 2000px;
  }
}
