@import url('../themes/theme-dark.css');
@import url('../themes/theme-bright.css');

.language-switcher {
  position: absolute;
  bottom: 10px;
  left: 20px;
  display: flex;
  text-orientation: sideways;
  flex-direction: column;
  transform: translateY(-20%);
  z-index: 1000;
}

.language-switcher button {
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  color: var(--primary-light-version);
  font-weight: 200;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  transform: rotate(-90deg);
  text-align: center;
}

.language-switcher button:hover {
  background-color: transparent;
  color: var(--primary-extra-light-version);
  transform: rotate(-90deg) scale(1.1);
}

.language-switcher button:focus-visible {
  outline: none;
  box-shadow: none;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .language-switcher {
    position: absolute;
    bottom: 60px;
    left: 10px;
    display: flex;
    text-orientation: sideways;
    flex-direction: column;
    transform: translateY(-20%);
  }
}