#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-options {
  margin-top: 20px;
  margin-bottom: 80px;
}

.start-button-container {
  margin-top: 40px;
}

.play-btn {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  color: var(--text-color-primary);
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 6px var(--black-extra-transparent);
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 12px 24px;
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 72px;
  height: auto;
  filter: drop-shadow(0px 0px 10px var(--purple-logo));
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  #root {
    padding: 1rem;
  }
  .play-btn {
    font-size: 18px;
    padding: 10px 20px;
  }
  .logo {
    width: 50px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #root {
    max-width: 90%;
  }
}
