:root {
    --primary-color: #223b40;
    --secondary-color: #103951;
    --primary-dark-version: #051f2e;
    --primary-light-version: #3e7a86;
    --primary-extra-light-version: #61dafbaa;

    --background-dark: #1a1a1a;
    --background-extra-dark: #0c0c0c;
    --background-light: #242424;
    --black-transparent: rgba(0, 0, 0, 0.6);
    --black-extra-transparent: rgba(0, 0, 0, 0.3);
    --background-overlay: #0f1112b0;

    --white-extra-transparent: rgba(255, 255, 255, 0.3);
    --used-grayed-out: #a4a5c4;

    --flash-correct: rgba(18, 78, 31, 0.6);
    --correct-position:  #3e7a86;
    --false-position: #813156;
    --correct-position-glare:  #3e7a8635;
    --false-position-glare: #81315635;
    --modal-success: #072200;
    --modal-failure: #22000e;
    
    --text-color-primary: #fff;
    --text-color-secondary: #223b40;
    --white-color: #fff;
    --white-color-grayer: #ccc;
    --button-details-color: #4a2867;
    --purple-shadow: #4a2867a2;
  }