@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
@import url('./themes/theme-dark.css');
@import url('./themes/theme-bright.css');

body::before {
  position: fixed;
  color: red;
  top: 10px;
  left: 10px;
  background-color: lime;
  font-size: 1rem;
  z-index: 9999;
}

:root {
  font-family: Raleway, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color-primary);
  background-color: var(--background-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-light-version);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-extra-light-version);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  /* min-height: 100vh; */
  background: var(--background-image) center/100% 100% no-repeat;
  background-blend-mode: var(--background-blend-mode);
  background-color: var(--background-overlay);
}

h1 {
  /* font-size: clamp(2em, 4vw, 3.2em); */
  font-size: clamp(2em, 2.5em, 3em);
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--purple-primary);
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  transform: scale(1.05);
  filter: brightness(1.15)
}

/* Responsive Adjustments */

/* Mobile (Taller) Portrait */
@media (min-width: 401px) and (max-width: 768px) and (max-aspect-ratio: 3/5) and (orientation: portrait)  {
  body::before {
    content: "Mobile Portrait Active";
  }
  body {
    background-attachment: scroll;
  }
  h1 {
    font-size: 2em;
  }
  button {
    font-size: 0.9em;
    padding: 0.4em 1em;
  }
}

/* Mobile Landscape */
@media (max-width: 1024px) and (min-aspect-ratio: 5/3) and (orientation: landscape) {
  body::before {
    content: "Mobile Landscape Active";
  }
  h1 {
    font-size: 26px;
  }
}

/* Mobile (Compact) Portrait */
@media (max-width: 400px) and (orientation: portrait) {
  body::before {
    content: "Compact Mobile Portrait Active";
  }
  body {
    background-attachment: scroll;
  }
  h1 {
    font-size: 2em;
  }
  button {
    font-size: 0.9em;
    padding: 0.4em 1em;
  }
}

/* iPad / Tablet Portrait */
@media (min-width: 480px) and (max-width: 1424px) and (min-aspect-ratio: 3/5) and (orientation: portrait) {
  body::before {
    content: "iPad/Tablet Portrait Active";
  }  
}

/* iPad / Tablet Landscape */
@media (max-width: 1424px) and (max-aspect-ratio: 5/3) and (orientation: landscape) {
  body::before {
    content: "iPad/Tablet Landscape Active";
  }
  h1 {
    font-size: 7vh;
  }
}

/* 💻 Laptops & Desktops */
@media (min-width: 1425px) and (orientation: portrait), (min-width: 1024px)  and (min-aspect-ratio: 5/3) and (orientation: landscape) {
  body::before {
    content: "Laptop Active";
  }  
}
