@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
@import url('./colors.css');

:root {
  font-family: Raleway, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color-primary);
  background-color: var(--background-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-light-version);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-extra-light-version);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: url("/background.webp") center/100% 100% no-repeat;
  background-blend-mode: darken;
  background-color: var(--background-overlay);
}

h1 {
  font-size: clamp(2em, 4vw, 3.2em);
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--purple-primary);
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  transform: scale(1.05);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  body {
    background-attachment: scroll;
  }
  h1 {
    font-size: 2em;
  }
  button {
    font-size: 0.9em;
    padding: 0.4em 1em;
  }
}
